{% extends 'landingpage.html' %}
{% block content %}
<style>
     body {
        font-family: 'Kanit', sans-serif;
        background-color:#fbfbfb;       
    }
    .set{
        margin: 0 auto;
        padding-left: 20px;
    }
    
</style>

<div class="set">
    <br>
    <p class="container card-title header-text" ><h4><b>ผลงานด้านวิชาการ</b></h4></p>
    <div class="card-footer text-muted"></div>
</div>

<div class="card">
    <div class="clearfix">
        <font size = "3"><p style="padding:20px;">
            - คู่มือการฝึกหัดโขนเบื้องต้น<br><br>
            - แปล รามายณะของอินโดนีเซีย<br><br>
            - หนังสือเพลงหน้าพาทย์ ซึ่งอธิบายเพลงหน้าพาทย์ในมุมมองของผู้แสดงโขนไว้อย่างชัดเจน และเป็นก้าวแรกที่เชื่อมโยงความรู้ดนตรีไทยและนาฏศิลป์โขน ปัจจุบันใช้เป็นตำราอ้างอิงในวงการศึกษา<br><br>
            - รามเกียรติ์ ร้อยแก้ว เขียนลงในวารสารวิทยาลัยนาฏศิลป์สุโขทัยทุกเดือน<br><br>
            - ละครพูดเรื่อง "เล็กโพธิ์ดำ"<br><br>
            - วีซีดี บันทึกการแสดงเรื่องจุดเด่นของทศกัณฐ์ รำลงสรงชมตลาด ฉุยฉายทศกัณฐ์ลงสวน, ฉุยฉายหนุมานแปลง, เกี้ยวนาง นางลอย, ชูกล่องดวงใจ แจกในงานครบ 6 รอบ ณ วันที่ 9 ธันวาคม พ.ศ. 2551
        </p></font>
        </div>
    </div>
    <div class="card">
        <div class="clearfix">
            <center>
        <img src="https://upload.wikimedia.org/wikipedia/th/c/c9/271025S-08DSC.jpg" class="mt-2" style="width: 300px; padding:20px;"  alt="...">
        <img src="https://upload.wikimedia.org/wikipedia/th/thumb/7/71/271025K-01DSC.jpg/220px-271025K-01DSC.jpg" class="mt-2" style="width: 310px; padding:20px;"  alt="...">
        <img src="https://upload.wikimedia.org/wikipedia/th/thumb/0/00/JatupornOnTV1-DLC.jpg/180px-JatupornOnTV1-DLC.jpg" class="mt-2" style="width: 310px; padding:20px;"  alt="...">
        
        </center>
    </br >
    </div>
</div> 
    <br>
</dir>

{% endblock content %}

