{% extends 'landingpage.html' %}
{% block content %}

<style>
    .set-mg{
        margin-right: 20px;
        margin-left: 20px;
    }
    .set-mw{
        max-width: 1050px;
        margin: 0 auto;
    }
    body {
        font-family: 'Kanit', sans-serif;
        background-color:#fbfbfb; 
    }
    .header-text{
            font-weight: 700;
            font-size: large;
    }
    .set{
        margin: 0 auto;
        padding-left: 20px;
        width: 900px;
    } 
</style>
</head>
<div class="set">
    <br>
    <p class="container card-title header-text" ><h4><b>ผลงานสร้างสรรค์ด้านการแสดง</b></h4></p>
    <div class="card-footer text-muted"></div>
</div>

<div class="mt-2 set-mg ">

<div class="card shadow m-0 m-auto mb-5" style="max-width: 900px;">
    <div class="card-body mb-2">
        
    <p class="card-text" style = "padding:10px">
        เมื่อสมัยที่ นายจตุพร รัตนวราหะ ดำรงตำแหน่งเป็นผู้อำนวยการวิทยาลัยนาฏศิลป์สุโขทัย ได้สร้างสรรค์การแสดงชุดใหม่ที่สอดคล้องกับวิถีชีวิตและขนบธรรมเนียม
        ประเพณีของชาวสุโขทัยให้กับชาววิทยาลัยนาฏศิลป์สุโขทัยและได้แสดงเป็นที่ชื่นชอบของผู้ที่ได้รับชมมาจนกระทั่งทุกวันนี้คือ
    </p>
    <center>
    <img src="https://upload.wikimedia.org/wikipedia/th/3/3e/51-12-24-Jatuporn2DLC.jpg " class="img-fluid rounded" style = "width: 100%; max-width: 223px; padding:10px" alt="..." />
    <img src="https://upload.wikimedia.org/wikipedia/th/2/25/51-12-24-Jatuporn1DLC.jpg" class="img-fluid rounded" style = "width: 100%; max-width: 216px; padding:10px" alt="..." />
    <img src="https://upload.wikimedia.org/wikipedia/th/a/a2/Jatuporn-PPR-DLC.jpg" class="img-fluid rounded" style = "width: 100%; max-width: 238px; padding:10px" alt="..." />
    </center>
    <h6 class="mt-5 card-subtitle mb-2 text-muted "> 
                            - ฟ้อนตะคัน พ.ศ. 2533<br><br>
                            - ระบำเบญจรงค์ พ.ศ. 2534<br><br>
                            - ฟ้อนลื้อล่องน่าน พ.ศ. 2536<br><br>
                            - ระบำเทวีศรีสัชนาลัย พ.ศ. 2537<br><br>
                            - ระบำประทีปทอง พ.ศ. 2538</h6>

    </div>
</div>
</div>

{% endblock content %}


