{% extends 'landingpage.html' %}
{% block content %}
<style>
    body {
        font-family: 'Kanit', sans-serif;
        background-color:#fbfbfb;       
    }
    .set{
        max-width: 1050px;
        margin: 0 auto;
        padding-left: 20px;
    }
    .p {
        font-size: 18px;  
    }
</style>
<div class="set">
    <br>
    <p class="container card-title header-text" ><h4><b>ประสบการณ์ด้านการแสดง</b></h4></p>
    <div class="card-footer text-muted"></div>
</div>

<div class="mt-2">
    <div class="card container mb-4" style="max-width: 1050px;">
        <div class="row g-0">
            <div class="col-md-2 mt-3 mb-3">
                <img src="https://i.pinimg.com/736x/f2/84/73/f28473420170fc31ca82ac428021f606.jpg" width="161px" height="240px" alt="..."class="rounded mx-auto d-block" />
            </div>
            <div class="col-md-8">
                <div class="card-body w-110">
                    <h4 class="card-title" style="font-weight: bold;">ผลงานด้านการแสดงโขน</h4>
                    <div class="card-footer text-muted"></div>
                    <p class="card-text">
                        - เริ่มฝึกหัดเป็นตัวยักษ์ กับนายยอแสง ภักดีเทวา และนายอร่าม อินทรนัฎ<br>
                        - เป็นผู้แสดงโขนและละคร ให้ประชาชนทั้งชาวไทยและชาวต่างประเทศชม ณ โรงละครศิลปากร โรงละครแห่งชาติ ทำเนียบรัฐบาล และไปเผยแพร่ผลงานทางด้านการแสดงในต่างประเทศหลายครั้ง
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
  

    <div class="card container mb-4 " style="max-width: 1050px;">
        <div class="row g-0">
            <div class="col-md-2  mt-3 mb-3">
                <img src="https://upload.wikimedia.org/wikipedia/th/thumb/2/25/51-12-24-Jatuporn1DLC.jpg/161px-51-12-24-Jatuporn1DLC.jpg" alt="responsive-img"class="rounded mx-auto d-block" />
            </div>
            <div class="col-md-8">
                <div class="card-body w-110">
                    <h4 class="card-title" style="font-weight: bold;">ผลงานด้านการแสดงโขน</h4>
                    <div class="card-footer text-muted"></div>
                    <p class="card-text">
                        - แสดงเป็นตัวเอกในเรื่องรามเกียรติ์ เช่น ทศกัณฐ์ กุมภกรรณ พิเภก ไมยราพ เสนายักษ์ ม้าอุปการ เป็นต้น<br>
                        - เป็นผู้สอน นาฏศิลป์โขนยักษ์ใหญ่
                    </p>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="card container mb-4 " style="max-width: 1050px;">
        <div class="row g-0">
            <div class="col-md-2 mt-3 mb-3">
                <img src="https://upload.wikimedia.org/wikipedia/th/thumb/3/3e/51-12-24-Jatuporn2DLC.jpg/166px-51-12-24-Jatuporn2DLC.jpg" alt="..."class="rounded mx-auto d-block" />
            </div>
            <div class="col-md-8">
                <div class="card-body w-100">
                    <h4 class="card-title " style="font-weight: bold;">ผลงานด้านการแสดงละคร</h4>
                    <div class="card-footer text-muted "></div>
                    <p class="card-text">
                        - ได้รับการคัดเลือกจากท่านผู้หญิงแผ้ว สนิทวงศ์เสนี ศิลปินแห่งชาติ ให้แสดงเป็นซมพลา ในละครเรื่องเงาะป่า เป็นคนแรกของกรมศิลปากร<br>
                        - แสดงเป็นหลวิชัย ในละครเรื่องคาวี<br>
                        - แสดงเป็นเสนาไทย ในละครเรื่องขุนช้างขุนแผน ตอน พระไวยแตกทัพ เป็นต้น
                    </p>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="card container shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-header"><h3 style="font-weight: bold;" class="text-center">สรุปผลงาน</h3></div>
        <div class="card-body">
          <p class="card-text"><b>
            นายสมรัตน์ ทองแท้ นาฏศิลป์โขนพระ นักวิชาการละครและดนตรี 7 สำนักการสังคีต กรมศิลปากร ได้สรุปผลงานของ อาจารย์ จตุพร รัตนวราหะ ไว้ในบทรำอวยพรการแสดงชุด “ 72 ปี จตุพร นามขจรทศกัณฐ์ ” ในวันอาทิตย์ที่ 9 ธันวาคม พ.ศ. 2550 ณ อุทยานประวัติศาสตร์เมืองสิงห์ ตำบลสิงห์ อำเภอไทรโยค จ.กาญจนบุรี<br>
            - ปี่พาทย์ทำเพลงต้นเข้าม่าน ร้องเพลงสามไม้กลาง
            ทศกัณฐ์ อสุรา พญายักษ์ ทั้งสิบพักตร์ ยี่สิบกร สุนทรศรี
            สมศักดิ์ สมร้าย ชายชาตรี สมเสน่ห์ อสุรี มีพึงยล
            เป็นจอมราพณ์ เมืองมาร ผ่านลงกา เป็นศรัทธา เกรงกลัว ทั่วแห่งหน
            เป็นที่รัก ที่บูชา อสุรชน เป็นจอมพล ลือนาม ในรามเกียรติ์<br>
            - ร้องเพลงทองย่อนรวบ
            ครูจตุพร รัตน วราหะ สืบศิลปะ นาฏกรรม เลิศล้ำเขียน
            สวมบทบาท มารร้าย ได้แนบเนียน มิผิดเพี้ยน ยักษ์ใหญ่ ให้ลือชา
            คราออกรบ เกรี้ยวกราด มาดนักเลง ยามครื้นเครง ออกสำรวล ชวนหรรษา
            เมื่อเกี้ยวเก้อ วางเจ้าชู้ ดูงามตา คราวโศกา เจียนองค์ ลงวางวาย<br>
            - ร้องเพลงตระนิมิต
            เจ็ดสิบสอง ฉลองวัย ในครานี้ มวลน้องพี่ อสุรา มาเหลือหลาย
            ต่างร่วมจิต ร่วมสุนทร อวยพรชัย สัมฤทธิ์ใน จตุพร บวรเอย
            - ปี่พาทย์ทำเพลงตระนิมิต รัว เพลงกราวใน(มอญแปลง) 4 คำ (แขกต่อยหม้อ) 4 คำ รัวท้ายรำดาบ
            นาฏศิลป์ โขนพระ ผู้รำอวยพร คมสัณฐ (โต้ง) หัวเมืองลาด, มนตรี แหล่งสนาม, วัลลภ (แนน) พรพิสุทธิ์, ปรัชญา (ก๊อบ) ชัยเทศ
          </p></b>
         
        </div>
        <div class="card-footer text-muted mb-4"></div>
      </div>
{% endblock content %}