{% extends 'landingpage.html' %}

        {% block content %}
             <style>
                 .photo-sensei{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 20px;
                }
             </style>
             <div class="content-box">
              <div class="container px-5">
                  <div class="row gx-5 align-items-center ">
                      <div class="row flex-column-reverse flex-lg-row">
                          <div class="col-lg-6 animate__animated animate__slideInDown">
                              <div class="mb-5 mb-lg-0 text-center text-lg-start">
                                <h1 class="display-1 lh1 mb-3 mt-3" id="typed"></h1><br><h1 class="display-1 lh1 mb-3 mt-3 ityped2"></h1>
                                  <font size = "5"><p id="typed2">- </p></font>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="photo-sensei">
                                  
                                  <img class="shadow-lg" style="border-radius: 4px;" src="https://i.ibb.co/9cc4Jmn/unnamed-3.jpg" alt="...">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endblock content%}
    

        
        